page-home {
    #identificado {
        text-align: center;
        background-color: white;
        font-family: 'Handlee', cursive;
        border-style: solid;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 5px;
    }
}